:root {
    /* Palette (purple) */
    --p:     rgba(100, 0,   255, 1);
    /* purple-white */
    --p-20w: rgba(131, 51,  255, 1); /* x + ((255 - x) * a) */
    --p-40w: rgba(162, 102, 255, 1);
    --p-60w: rgba(193, 153, 255, 1);
    --p-80w: rgba(224, 204, 255, 1);
    /* purple-black */
    --p-20b: rgba(80,  0,   204, 1); /* x * (1 - a) */
    --p-40b: rgba(60,  0,   153, 1);
    --p-60b: rgba(40,  0,   102, 1);
    --p-80b: rgba(20,  0,   51,  1);
    /* purple-alpha */
    --p-80a: rgba(100, 0,   255, 0.8);
    --p-60a: rgba(100, 0,   255, 0.6);
    --p-40a: rgba(100, 0,   255, 0.4);
    --p-20a: rgba(100, 0,   255, 0.2);
    /* Palette (blue) */
    --b:     rgba(30,  215, 255, 1);
    /* blue-white */
    --b-20w: rgba(75,  223, 255, 1);
    --b-40w: rgba(120, 231, 255, 1);
    --b-60w: rgba(165, 239, 255, 1);
    --b-80w: rgba(210, 247, 255, 1);
    /* blue-black */
    --b-20b: rgba(24,  172, 204, 1);
    --b-40b: rgba(18,  129, 153, 1);
    --b-60b: rgba(12,  86,  102, 1);
    --b-80b: rgba(6,   43,  51,  1);
    /* blue-alpha */
    --b-80a: rgba(30,  215, 255, 0.8);
    --b-60a: rgba(30,  215, 255, 0.6);
    --b-40a: rgba(30,  215, 255, 0.4);
    --b-20a: rgba(30,  215, 255, 0.2);

    /* Variables */
    --background-color: #333;
    --light-background-color: #fff;

    --text-color: #fff;
    --light-text-color: #333;

    --link-color: #6495ed;
    --link-hover-color: #4169e1;
    --light-link-color: #4169e1;
    --light-link-hover-color: #324faa;

    --accent-color: var(--b);
    --subaccent-color: var(--b-40w);
    --light-accent-color: var(--b-20b);
    --light-subaccent-color: var(--b);

    --button-color: var(--b-80a); /* same as --accent-color with alpha of 0.8 */
    --button-hover-color: var(--b); /* same as --accent-color */
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/Poppins-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/Poppins-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
}
body * {
    flex: 0 0 auto;
    user-select: none;
    cursor: default;
    font-family: Poppins, sans-serif;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) transparent;
}
body *::-webkit-scrollbar {
    width: 0.5vh;
    background: transparent;
}
body *::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 1vh;
}

.svg-text-color {
    fill: var(--text-color);
}

@media screen and (prefers-color-scheme: light) {
    html, body {
        background-color: var(--light-background-color);
        color: var(--light-text-color);
    }
    body * {
        scrollbar-color: var(--light-accent-color) transparent;
    }
    body *::-webkit-scrollbar-thumb {
        background: var(--light-accent-color);
    }
    .svg-text-color {
        fill: var(--light-text-color);
    }
}